<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Jameson Mathew</strong>
                            </span>
                            <span class="text-muted text-xs block">Administrator
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li>
                            <a ui-sref="app.profile">Profile</a>
                        </li>
                        <li>
                            <a ui-sref="app.contacts">Contacts</a>
                        </li>
                        <li>
                            <a ui-sref="mailbox.inbox">Mailbox</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="login">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a ui-sref="dashboards.dashboard_1">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">{{ 'DASHBOARD' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('charts')}">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label">{{ 'LEADS' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('charts')}">
                    <li ui-sref-active="active">
                        <a>View</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('mailbox')}">
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="nav-label">{{ 'PROSPECTS' | translate }} </span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li>
                        <a ui-sref="/Prospects" href="#/Prospects/">View </a>
                    </li>
                    <li>
                        <a ui-sref="/ProspectsUnitAllocation" href="#/ProspectsUnitAllocation"> Unit Listing</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="metrics">
                    <i class="fa fa-pie-chart"></i>
                    <span class="nav-label">{{ 'CUSTOMERS' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li>
                        <a ui-sref="/Customers" href="#/Customers/">View </a>
                    </li>
                    <li>
                        <a ui-sref="/cancelCustList" href="#/cancelCustList">Cancelled List </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="widgets">
                    <i class="fa fa-flask"></i>
                    <span class="nav-label">{{ 'PROJECTS' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li>
                        <a ui-sref="/Projects" href="#/Projects"> Project</a>
                    </li>
                    <li>
                        <a ui-sref="/Phases" href="#/Phases"> Phase</a>
                    </li>
                    <li>
                        <a ui-sref="/UnitVwEdit" href="#/UnitVwEdit">View/Edit Units</a>
                    </li>
                    <li>
                        <a ui-sref="/UnitsListing" href="#/UnitsListing">Unit Status</a>
                    </li>
                    <li>
                        <a ui-sref="/BlockCostSheet" href="#/BlockCostSheet"> Cost Sheet</a>
                    </li>
                    <li>
                        <a ui-sref="/IncentiveGeneration" href="#/IncentiveGeneration">Incentive Definition </a>
                    </li>
                    <li>
                        <a ui-sref="/PaymentSchedule" href="#/PaymentSchedule"> Payment Schedule</a>
                    </li>
                    <li>
                        <a ui-sref="/marketingActivity" href="#/marketingActivity">Marketing Activity</a>
                    </li>
                </ul>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="widgets">
                    <i class="fa fa-laptop"></i>
                    <span class="nav-label">{{ 'EMPLOYEES' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li>
                        <a ui-sref="/EmployeeDetails" href="#/EmployeeDetails/">View </a>
                    </li>
                    <li>
                        <a ui-sref="/EmpHeirarchy" href="#/EmpHeirarchy">Employee Heirarchy </a>
                    </li>
                    <li>
                        <a ui-sref="/incentiveCalculation" href="#/incentiveCalculation"> Incentive Calculation</a>
                    </li>
                    <li class="ng-scope">
                        <a ui-sref="/Attendance" href="#/Attendance"> Attendance</a>
                    </li>
                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="widgets">
                    <i class="fa fa-flask"></i>
                    <span class="nav-label">{{ 'AGENTS' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li>
                        <a ui-sref="/EmployeeDetails" href="#/EmployeeDetails/">View </a>
                    </li>
                </ul>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="widgets">
                    <i class="fa fa-globe"></i>
                    <span class="nav-label">{{ 'REPORTS' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li ng-show="userType=='2'" class="ng-hide">
                        <a ui-sref="/UnitsListing" href="#/UnitsListing"> Units Status</a>
                    </li>
                    <!--             <li><a ui-sref="/SiteVisitListing">  Project Visit</a></li>-->
                    <li>
                        <a ui-sref="/leadsGeneratedRep" href="#/leadsGeneratedRep"> Leads </a>
                    </li>
                    <li>
                        <a ui-sref="/prospectReport" href="#/prospectReport"> Prospects </a>
                    </li>
                    <!-- <li><a ui-sref="/agentReport">   Agents </a></li> -->
                    <li ng-hide="userType=='2'">
                        <a ui-sref="/employeeReport" href="#/employeeReport"> Employee</a>
                    </li>
                    <li ng-hide="userType=='2'">
                        <a ui-sref="/customerReport" href="#/customerReport"> Payment Summary </a>
                    </li>
                    <li>
                        <a ui-sref="/unitsAvailReport" href="#/unitsAvailReport"> Units Available </a>
                    </li>
                    <li>
                        <a ui-sref="/unitsBlockedReport" href="#/unitsBlockedReport"> Units Booked</a>
                    </li>
                    <li>
                        <a ui-sref="/unitCancelledReport" href="#/unitCancelledReport"> Units Cancelled</a>
                    </li>
                    <li>
                        <a ui-sref="/PaymentPending" href="#/PaymentPending">Payment Pending</a>
                    </li>
                    <li>
                        <a ui-sref="/paymentRefund" href="#/paymentRefund">Payment Refund</a>
                    </li>
                    <li ng-hide="userType=='2'">
                        <a ui-sref="/managementQuotaRep" href="#/managementQuotaRep">Units Blocked(Management)</a>
                    </li>
                    <li>
                        <a ui-sref="/intrestedUnitsRep" href="#/intrestedUnitsRep">Units Interested(Prospects)</a>
                    </li>
                    <li>
                        <a ui-sref="/siteVisitSchldRep" href="#/siteVisitSchldRep">Project Visit Scheduled</a>
                    </li>
                    <li>
                        <a ui-sref="/siteVisitCmpltdRep" href="#/siteVisitCmpltdRep">Project Visit Completed</a>
                    </li>
                    <li>
                        <a ui-sref="/leadsprosDropRep" href="#/leadsprosDropRep">Dropped Lead </a>
                    </li>
                    <li>
                        <a ui-sref="/prosDropRep" href="#/prosDropRep">Dropped Prospect</a>
                    </li>
                    <li>
                        <a ui-sref="/marketingactvityRep" href="#/marketingactvityRep">Marketing Activity Report</a>
                    </li>
                </ul>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="widgets">
                    <i class="fa fa-edit"></i>
                    <span class="nav-label">{{ 'CRM' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li ng-if="userType=='1'" class="ng-scope">
                        <a ui-sref="/Campaigns" href="#/Campaigns"> Marketing Activity</a>
                    </li>
                    <!-- end ngIf: userType=='1' -->

                    <li ng-hide="userType=='2'">
                        <a ui-sref="/AlertRules" href="#/AlertRules"> Alert Rules</a>
                    </li>

                    <li ng-hide="userType=='8'">
                        <a ui-sref="/FollowUp" href="#/FollowUp"> Follow Up</a>
                    </li>
                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="widgets">
                    <i class="fa fa-cog"></i>
                    <span class="nav-label">{{ 'SET UP' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li>
                        <a ui-sref="/CostSheetTemplates" href="#/CostSheetTemplates"> Cost Sheet Template</a>
                    </li>
                    <li class="ng-scope">
                        <a ui-sref="/EmailTemplates" href="#/EmailTemplates"> Email Templates</a>
                    </li>
                    <li>
                        <a ui-sref="/SalaryComponentDetails" href="#/SalaryComponentDetails"> Salary Component</a>
                    </li>
                    <li class="ng-scope">
                        <a ui-sref="/Milestone" href="#/Milestone"> Milestone</a>
                    </li>
                    <li>
                        <a ui-sref="/RegisterFirm" href="#/RegisterFirm"> Company</a>
                    </li>
                    <li  class="ng-scope">
                        <a href="#" style="font-weight:500">
                            <span style="font-weight:bold">Organization</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="sidebar-submenu">

                            <li>
                                <a ui-sref="/levels" href="#/levels">View </a>
                            </li>
                            <li>
                                <a ui-sref="/AddLevel" href="#/AddLevel">Add/Edit levels</a>
                            </li>

                        </ul>
                    </li>
                    <!-- end ngIf: userType=='1' -->

                </ul>
            </li>
        </ul>

    </div>
</nav>